.table{
    width: 1070px;
    margin: 5px auto;       /* centering a table */
    position: absolute;
    top: 80;
    left: 280;
}

.heading{
    color: aliceblue;
    border:4px solid red;
    width:200px;
    margin: 8px auto;
    position: center;
    background: red;
}

.hid{
    background: #009933;
    min-width:50px;
    text-align: center;
   
}
.hname{
    background:red ;
    min-width:50px;
    text-align: center;
}
.hdept{
    background:#009933;
    min-width:50px;
    text-align: center;
}
.hemail{
    background: red;
    min-width:50px;
    text-align: center;
}
.hmobile{
    background: #009933;
    min-width:50px;
    text-align: center;
}


.bid{
    background-color:black;
    color:white;
    text-align: center;
    border: 2.5px solid #0000ff;
}
.bname{
    background-color:white;
    color:black;
    text-align: center;
    border: 2.5px solid #0000ff;
}
.bdept{
    background-color:black;
    text-align: center;
    color:white;
     border: 2.5px solid #0000ff;
}
.bemail{
    background-color: white;
    color:black;
    text-align: center;
    border: 2.5px solid  #0000ff ;
}
.bmobile{
    background-color:black;
    text-align: center;
    color:white;
    border: 2.5px solid #0000ff ;/* using for make border of line*/
}
.gohomepro{
     position: absolute;
     top: 20;
     right:180 ;
    
    border:4px solid red;
    width:80px;
    
    background: red;
    font-size: 22;
    color: white;
}